<!--$def with ()

$var title: Sensors
$var page: sensors
$code:
	snames = gv.snames
-->
<!--<div >
    <iframe src="https://app.powerbi.com/groups/me/dashboards/0cc43ee7-e3c5-446c-a38e-38b0480dcf72" width="750" height="520" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
-->


<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Online Student Portal</title>
</head>
<body>
    <form action="">
         <input type="button" value="Add Students" onclick="window.location.href='Students.html';"/>
         <input type="button" value="Add Courses" onclick="window.location.href='Courses.html';"/>
         <input type="button" value="Student Payments" onclick="window.location.href='Payment.html';"/>
         <iframe src="https://app.powerbi.com/groups/me/dashboards/0cc43ee7-e3c5-446c-a38e-38b0480dcf72" width="750" height="520" frameborder="0" style="border:0" allowfullscreen></iframe>
    </form>
</body>
</html>
